<!-- partial:partials/_navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white "role="navigation" >
    <a href="#" class="navbar-brand my-auto"></a>
    <button type="button" class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse main-menu-container" id="navbarToggler">
        <nav class=" main-menu">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link"><span class="text">Dashboard</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span class="text">Customer</span></a></li>
                <li class="nav-item active"><a href="#" class="nav-link"><span class="text">Employees</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span class="text">Tasks</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><span class="text">Products</span></a></li>
            </ul>
        </nav>
    </div>
</nav>
<!-- partial -->